{% extends 'base.html' %}

{% block content %}
  <h2 class="card-title">NOTICE</h2>
  <p class="card-text">This is Kira! <br>
    This is Guido's Personal Assistant Manager.<br>
    If you don't know him then DO NOT touch this!<br>
  </p>
  <!-- <p class="card-text">
    Watch it on <a href="https://www.youtube.com/playlist?list=PLLxk3TkuAYnpm24Ma1XenNeq1oxxRcYFT">YouTube</a> or
    read the <a href="https://simpleisbetterthancomplex.com/tutorial/2016/08/01/how-to-upload-files-with-django.html">Blog Post</a>.
  </p> -->
  <br><br><br><br>
  <p class="card-text">
      Be Careful, I save logs!<br>
    <a href="#">@Guido</a>
  </p>
{% endblock %}
